.big-header{
    color: #fff;
    font-size: 4vw;
    background: #ff0066;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    p{
        margin-left: 30px;
        font-weight: 800;
    }
}

